/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

#sec1{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#sec1>h2{
    color: red;
    text-decoration: underline orange;
    margin: 0 0 10px 0;
}
.major{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: red;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    
}

#million-gir{
    width: 200px;
}

#hd-giraffes{
    width: 100px;
}

#gir-everywhere{
    width: 70px;
}
 .container>p{
     color: orange;
 }

