/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
body, h1, main {
    margin: 0;
}

h2 {
    color: orangered;
}
nav {
    height: 5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}
em{
    color: orange;
}
.spotiraffe-logo img{
height: 80px;
width: 60px;
}
.menu ul{
    margin-left: 200px;
}
.menu li{
    display: inline-block;
    padding: 20px 50px;
    font-size: 20px;
    color: orangered;
}
.animate img{
    height: 80px;
    width: 60px;
    position: relative;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
#sec1{
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Geneva;

}

#sec1>h2{
    color: red;
    text-decoration: underline orange;
    margin: 0 0 10px 0;
}


.major{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: red;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    
}

#million-gir{
    width: 200px;
    margin-bottom: 30px;
}

#hd-giraffes{
    width: 100px;
}

#gir-everywhere{
    width: 70px;
}
 .container>p{
     color: orange;
     text-align: center;
 }

.header {
  width: 100%;
  height: 600px;
  background-image: url("../images/afc37050afb12987f49dd77e725ef099-700.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-text {
  color: white;
  text-align: center;
  padding-top: 150px;
  font-size: 60px;
  font-family: Geneva;
  margin: 10px;
}

.header-text2 {
  color: white;
  text-align: center;
  padding-bottom: 250px;
  font-size: 20px;
  font-family: Geneva;
  margin: auto;
  width: 55%;
  height: 20%;
}

.overlay{
  backdrop-filter: brightness(50%);
  height:600px;
}

.section4 {
  background-color: rgb(255, 255, 0);
  height: 600px;
  width: 95%;
  position: center;
  margin: auto;
  border: solid 10px black;
  display: flex;
  flex-direction: row;
}
.section4-left {
  background-color: rgb(255, 255, 0);
  width: 40%;
  position: center;
  margin: auto;

}
.section4-rigth {
  width: 100px;
  position: center;
  margin: auto;
  
  

}
@keyframes example {
    0% {
        left: 20px;
    }
    50% {
        left: 40px;
    }
    100% {
        left: 0px;
    }
}
